* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  /* eu colocaria bg e color no body */
  background-color: var(--gray-900);
  color: var(--gray-100);
}
